<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="submit()">
        <div class="card">
          <div class="card-header">User Profile</div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <label>Name</label>
                <input class="form-control" formControlName="name" type="text">
                <span class="text-danger" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                  Name is required! </span>
              </div>
              <div class="form-group col-6">
                <label>Organization</label>
                <input class="form-control" formControlName="organization" type="text">
              </div>
            </div>
          </div>
          <div class="card-header">Contact Information</div>
          <div class="card-body" formArrayName="contacts">
            <div class="row">
              <div class="col-6" *ngFor="let contact of contactFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">

                  <div class="form-group col-6">
                    <label>Key</label>
                    <input class="form-control" formControlName="name" type="text">
                  </div>

                  <div class="form-group col-6">
                    <label>Value</label>
                    <input class="form-control" formControlName="value" type="text">
                  </div>
                  <div class="form-group col-12 text-right">
                    <button class="btn btn-danger" type="button" (click)="removeContact(i)"> Remove </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-primary m-1" type="button" (click)="addContact()"> Add Position </button>
              <button class="btn btn-success m-1" type="submit"> Save User Profile </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
